@media (min-width: 650px){

    .header-menu{
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding-left: 20px;
        padding-right: 25px;
        padding-top: 10px;
    }

    .entree{
        max-width: 700px;
    }

    .titre-souligne{
        align-self: center;
        font-weight: 400;
    }

    .coeur-vide{
        position: absolute;
        color: black;
        width: 24px;
        right: 44px;
        margin-top: 23px;
    }
    
    .coeur-plein{
        position: absolute;
        right: 44px;
        width: 24px;
        margin-top: 23px;
        opacity: 0;
    }
    
    .coeur-plein:hover{
        transform: scale(1.02);
        background: linear-gradient(to top,#9356DC,#FF79DA );
        -webkit-background-clip: text;
        opacity: 1;
        background-clip: text;
        color: transparent;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
}

@media (min-width: 1224px){

    body{
        top:0;
        left:0;
        padding:0;
        margin:0;
    }

    .menu-global{
        display: flex;
        flex-direction: row;
    }

    .categories{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
        width: 33%;
        margin-right: 0%;
    }

    .titre-souligne{
        align-self: start;
        font-weight: 400;
        margin-bottom: 0%;
        padding-left: 0%;
    }

}