@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

*{
  text-decoration: none;
}

body{
  font-family: "Roboto";   
}

h1 {
  font-family:"Shrikhand", cursive; 
}


i{
  font-size: x-large;
}

/*FOOTER.*/ 

  footer{
    background-color: rgb(54, 54, 54);
    height: 230px;
  }

  footer p{
    color: white;
    margin:8px;
    margin-left: 25px;
  }

  footer h3{
    color:white;
    font-family:"Shrikhand", cursive;
    padding-left: 1.5rem;
    padding-top: 2rem;
    font-size: x-large;
    font-weight: 500;
    margin-top: 0%;
  }

  footer i{
    font-size: medium;
  }

  .footer-un , .footer-deux{
    color: white;
    margin: 8px;
  }

  .footer-un i{
    margin-left: 15px;
    margin-right: 10px; 
  }

  .footer-deux i{
    margin-left: 15px;
    margin-right: 3px
  }

  .footer-lien{
    color:white;
    padding-left: 24px;
  }

/*divider*/

  .divider{
    width: 50px;
    height: 3px;
    background-color: #99E2D0;
    align-self: flex-start;
    margin-left: 30px;
    margin-bottom: 20px; 
  }

/* Center the loader */

  #loader{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
   width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 16px solid #282828;
  border-radius: 50%;
  border-top: 16px solid #d418a5;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  }

  #back{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  /*logo-check*/

  .check{
    height: 75px;
    display: flex;
    align-self: flex-end;
    width: 0%;
    border-radius: 0 18px 18px 0;
    background: #99e2d0;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease-in-out;
  }
  
  .check-confirmation{
    width: 100%;
  }

  .check-confirmation i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 100%;
    height: 100%;
    color: white;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
  }

  .entree:hover .check-confirmation i{
    transform: rotate(0deg);

  }
  .entree:hover .check{
    opacity: 1;
    width: 18%;
  }

  
/*Keyframes*/

  @keyframes loader{
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
  
  @keyframes jump{
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes apparition{
  0%{
     opacity: 0;
     transform: translateY(20px)
    }
    100%{
       opacity: 1;
       transform: translateY(0px);
    }

  }

  .entree{
    animation: apparition 2s;
  }
 
  .entree:nth-child(1){
    animation-delay: 600ms;
  }

  .entree:nth-child(2){
    animation-delay: 200ms;
  }

  .entree:nth-child(3){
    animation-delay: 600ms;
  }
  .entree:nth-child(4){
    animation-delay: 800ms;
  }

  @keyframes show{
    0% {
        opacity: 0;
        font-size: 0;
    }

    90% {
        font-size: 1.2em;
    }

    100% {
        opacity: 1;
        font-size: 1em;
        
    }
  } 